body{
    background-image: url('https://th.bing.com/th/id/OIP._HTY693LtXoR9LYBhIl1MQHaCs?pid=ImgDet&rs=1 ' );
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    padding: 10%;
}
section{
    display: flex;
    padding: 1% 5%;
    width: 90%;
}
.heroL{
    width: 80%;
    background-color: #264582;
    border-radius: 10px 0 0 10px;
}
.heroL #texto{
    padding: 5px 10px;
    color: white;
}
.heroR{
    width: 70%;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 10px;
}
.signGoogle{
    display: flex;
    background-color: white;
    width: 70%;
    margin: 5%;
}
.signGoogle a{
    align-items: center;
    justify-content: center;
}


.iniciar img{
    width: 15px;
    padding: 5px 10px;
}
#usuario{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    background-color: gray;
    border: solid 1px;
}
#contr{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    background-color: gray;
    border: solid 1px;
}

.finalHero{
    display: flex;
    flex-direction: column;
}
.finalHero #link{
    display: flex;
    justify-content: center;
    align-items: center;
}
