body{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: column;
}
header nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
#perfil{
    display: flex;
    align-items: center;
}
section{
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.vertical
{
    display:flex;
    flex-direction: column;

}
.botones ul
{
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: left;
    align-items: center;

}
.botones li
{
    margin-right: 10px;

}
.cuadrito
{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    justify-content: space-between;
}
.secciones
{
    background-color:beige;
    display:flex;
    flex-direction: column;
    width: 60%;
    
}
.punto 
{
    background-color:coral;
    width: 15%;
    margin: 5% 0 0 10%;
}
.filtro
{
    border: solid 1px ;
    background-color:cornflowerblue


}
.Cursos
{
    border:solid 1px;
    margin: 6% 0;   

}
.imagenes ul
{
    list-style: none;
    display:flex;
    
}
.imagenes li
{
    margin: 10px;
}q

.evaluar {
    justify-content: center;
    margin: 5% 50%;
}
.evaluar button{
    background-color: #264582;
    color: white;
}

.contenidoVin{
    margin: 1% 10%;
}
.contenidoVin ul{
    list-style: none;
}
.contenidoVin li{
    margin: 0 0 10px 0;
    padding-left: 20px;
    background: url('https://th.bing.com/th/id/OIP.6x2aSYRcuxjHkxE5vs_JhgHaHa?pid=ImgDet&rs=1') no-repeat left center;
    background-size: 16px 16px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vinculos ul{
    list-style: none;
}
.redes ul{
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.redes li{
    margin-right: 10px;
}